{{define "user_detail"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head"}}
</head>
<body>
    <div class="container">
        {{template "header" .AuthenticatedUser}}
        {{template "errors" .Errors}}
        {{template "messages" .Messages}}
        <div class="row">
            <div class="col">
                <h1>{{ .User.FirstName}} {{ .User.Lastname }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="/public/chucknorris.jpg" alt="..." class="img-thumbnail">
                {{if not .AuthenticatedUser}}
                {{else if (eq .AuthenticatedUser.ID .User.ID) }}
                {{else if .UsersAreFriends}}
                    <form method="post" action="/user/{{.User.Login}}/delete_friend">
                    <button type="submit" class="btn btn-danger">Удалить из друзей</button>
                    </form>
                {{else}}
                    <form method="post" action="/user/{{.User.Login}}/add_friend">
                    <button type="submit" class="btn btn-">Добавить в друзья</button>
                    </form>
                {{end}}

                {{if .User.Friends}}
                    <div class="row">
                        <div class="col">
                            <h2>Друзья:</h2>
                            {{range $f := .User.Friends}}
                            <ul>
                                <li><a href="/user/{{$f.Login}}">{{ $f.FirstName }} {{ $f.Lastname }}</a></li>
                            </ul>
                            {{end}}
                        </div>
                    </div>
                {{end}}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Информация:</h3>
                        <ul>
                            <li>Город: {{ .User.City.Name }}</li>
                            <li>Пол: {{ .User.Sex }}</li>
                            <li>Возраст: {{ .User.Age }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Интересы:</h3>
                        {{range .User.Interests}}
                        <span class="badge bg-secondary">{{.Name}}</span>
                        {{end}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Посты:</h3>
                        {{if not .AuthenticatedUser }}
                        {{else if (eq .AuthenticatedUser.ID .User.ID) }}
                            <form action="/user/{{.User.Login}}/add_post" method="POST">
                                <textarea class="form-control" name="post" id="postMessage" rows="3"></textarea>
                                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Написать</button>
                            </form>
                        {{end}}
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        {{range .User.Posts}}
                        <div class="card" style="margin-top:5px;">
                            <div class="card-body">
                                <p class="card-text">{{.Body}}</p>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "scripts"}}
</body>
</html>
{{end}}